@model ForumSystem.App.Areas.Admin.ViewModels.Comments.DetailsCommentViewModel
@using ForumSystem.App.Common
@{
    ViewData["Title"] = "Details";
}

<div class="text-center row">
    <div class="card col-md-12">
        <div class="card-header row">
            <p class="text-left col-md-4">Posted @TimeFormat.Posted(Model.Posted)</p>
            <p class="text-right col-md-8">Posted by @Model.Author</p>
        </div>

        <div class="card-body row">
            <p class="card-text col-md-12">@Model.Content</p>
        </div>
        <div class="card-footer row">
            <div class="text-right col-md-12">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
                    <img src="~/css/icons/icons8-edit.svg" alt="Edit Comment" /> Edit
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                    <img src="~/css/icons/icons8-trash.svg" alt="Delete Comment" /> Delete
                </button>
            </div>
            <hr />
            <div class="text-center col-md-12">
                <h6>Add your comment</h6>
            </div>
            <div id="divMessage" class="text-danger">

            </div>
            <form id="replyForm" data-ajax="true" data-ajax-success="Complete" data-ajax-mode="replace"
                  data-ajax-update="#AllComments" asp-area="Admin" asp-controller="Comments" asp-action="AddComment" asp-route-id="@Model.Id" class="col-md-12" data-ajax-method="post">
                <div class="form-group">
                    <textarea id="Content" name="Content" rows="3" cols="30" class="form-control"></textarea>
                </div>
                <input hidden id="Author" name="Author" value="@User.Identity.Name" />
                <input hidden id="PostedOn" name="PostedOn" value="@DateTime.UtcNow" />
                <input hidden id="ParentCommentId" name="ParentCommentId" value="@Model.Id" />
                <div class="text-right">
                    @Html.AntiForgeryToken()
                    <button name="" type="submit" class="btn btn-success" id="btnsubmit"><img src="~/css/icons/icons8-chat.svg" alt="Add Comment" /> Add Comment</button>
                </div>
            </form>
        </div>
        <hr />
        <a hidden asp-area="Admin" asp-controller="Comments" asp-action="GetAllReplies" asp-route-id="@Model.Id" id="refreshComments"
           data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#AllComments"></a>

        <div id="AllComments">
            <partial name="~/Areas/Admin/Views/Shared/_Replies.cshtml" model="@Model.viewModel" />
        </div>
    </div>
    <br />
</div>

<div class="text-right mt-2">
    <a asp-area="Admin" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-secondary">
        <img src="~/css/icons/icons8-cancel.svg" alt="Cancel" /> Cancel
    </a>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are You Sure?
            </div>
            <div class="modal-footer">
                <form asp-area="Admin" asp-controller="Comments" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <input hidden name="PostId" id="PostId" value="@Model.PostId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><img src="~/css/icons/icons8-unavailable.svg" alt="No"/> No</button>
                    <button type="submit" class="btn btn-danger"><img src="~/css/icons/icons8-checkmark.svg" alt="Yes"/> Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <form asp-area="Admin" asp-controller="Comments" asp-action="Edit" asp-route-id="@Model.Id" method="post">
                    <div class="form-group align-items-center">
                        <textarea cols="60" rows="3" name="Content" id="Content" value="@Model.Content" class="form-control"></textarea>
                        <input hidden name="PostId" id="PostId" value="@Model.PostId" />
                        <br />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><img src="~/css/icons/icons8-unavailable.svg" alt="No"/> No</button>
                        <button type="submit" class="btn btn-danger"><img src="~/css/icons/icons8-checkmark.svg" alt="Yes"/> Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts {
    <script>
        function Complete(data) {
            $("#replyForm textarea[name=Content]").val('');
            $("$refreshComments").click();
        }

    </script>
}