@model ForumSystem.App.Areas.Admin.ViewModels.Topics.DetailsTopicViewModel
@using ForumSystem.App.Common
@inject ForumSystem.App.Areas.Admin.Services.Interfaces.IAdminCommentsServices service
@{
    ViewData["Title"] = "Details";
}

    <div class="text-center">
        <div class="card">
            <div class="card-header">
                @Model.Title
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Model.Content</p>
                    <footer class="row text-muted font-italic">
                        <span class="col-md-4 text-left">Posted @TimeFormat.Posted(Model.CreatedOn)</span>
                        <span class="col-md-8 text-right">Author - @Model.AuthorUserName</span>
                    </footer>
                </blockquote>
            </div>
        </div>
        <br />
        <a class="btn btn-info col-md-2 m-2" asp-area="Admin" asp-controller="Topics" asp-action="Edit" asp-route-id="@Model.Id"><img src="~/css/icons/icons8-edit.svg" alt="Edit Topic" /> Edit Topic</a>
        <a class="btn btn-danger col-md-2 m-2" asp-area="Admin" asp-controller="Topics" asp-action="Delete" asp-route-id="@Model.Id"><img src="~/css/icons/icons8-trash.svg" alt="Delete Topic" /> Delete Topic</a>
        <br />

        <ul class="list-group">
            @foreach (var post in Model.Posts)
             {
                <li class="list-group-item m-3">
                    <div class="card-header row">
                        <span class="col-md-4 p-2 text-left text-muted">Posted @TimeFormat.Posted(post.CreatedOn)</span>
                        <div class="text-right col-md-8">
                            <a class="btn btn-info col-md-2 p-2" asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id"><img src="~/css/icons/icons8-edit.svg" alt="Edit Posts" /> Edit Post</a>
                            <a class="btn btn-danger col-md-2 p-2" asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id"><img src="~/css/icons/icons8-trash.svg" alt="Delete Posts" /> Delete Post</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <p class="card-text">@post.Content<p>
                    </div>
                    <div class="card-footer text-muted row">
                        <a asp-area="Admin" asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id"  class="btn-comment col-md-3 text-left"><img src="~/css/icons/icons8-chat.svg" /> @service.GetAllComments(post.Id).Count Comments</a>
                        <span class="text-right col-md-9">Author - @post.Author.UserName</span>
                    </div>
                </li>

             }
        </ul>
        <div class="row text-right">
            <a asp-area="Admin" asp-controller="Posts" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-success col-md-2 text-center"><img src="~/css/icons/icons8-create-post.svg" /> Create Post</a>
        </div>
    </div>
